.workoutProgramContainer {
    border-top: thin solid grey;
    height: 100%;
    min-height: 600px;
    padding: 40px;

    .headerContent {
        // padding-top: 40px;
    }

    @media screen and (max-width: 520px) {
        padding: 20px;
    }
}

.survey {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;

    @media screen and (max-width: 520px) {
        height: 75%;
    }
}
