@import '../../../styles/common.module.scss';

.scrollingWrapper {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 1078px) {
        border-left: thin solid rgb(206, 206, 206);
        border-right: thin solid rgb(206, 206, 206);
    }

    .cardContainer {
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
    }
  
    .card {
        @extend .subtleShadow;
        padding: 15px 13px;
        border-radius: 3px;
        flex: 0 0 auto;
        width: 230px;
        height: 230px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid white;
        transition: 0.2s;

        p {
            font-size: 15px;
            line-height: 20px;
        }

        &:hover {
            border: 2px solid rgb(99, 99, 99);
        }

        .header {
            font-size: 18px;
            font-weight: bold;
        }
    }
} 

.buttonContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
        margin-top: 40px;
        padding: 7px 20px;
        max-width: 150px;

        .text {
            position: relative;
            top: -3px;
            font-weight: bold;
        }

        .rightIcon {
            margin-left: 10px;
            margin-top: 2px;
            font-size: 22px;
        }
    }
}

.returnButtonContainer {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    
    button {
        padding: 10px 20px;

        .prevIcon {
            font-size: 20px;
            position: relative;
            top: 2px;
        }
    }
}

.selected {
    border: 2px solid black !important;
}

.summaryContent {
    margin-left: auto;
    margin-right: auto;
}

.contCta {
    transition: 0.3s;
}
