@import '../../styles/common.module.scss';
@import '../../styles/typography.module.scss';

.sixPackCalcContainer {
    @extend .fadeIn;
    height: 100%;
    min-height: 600px;
    padding: 40px;

    @media screen and (max-width: 520px) {
        padding: 20px;
    }
}

.helpHeaderContent {
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    h2 {
        padding-bottom: 8px;
    }

    @media screen and (max-width: 520px) {
        text-align: center;
        h2 {
            font-size: 26px !important;
        }
    }

    padding-bottom: 23px;
}

.headerContent {
    h2 {
        margin-bottom: 20px;
        line-height: 32px;
    }
}

.formContainer {
    padding: 10px 25px;
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.buttonContainer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;

    button {
        padding: 8px 18px;
    }
}

.returnButtonContainer {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    
    button {
        padding: 10px 20px;

        .prevIcon {
            font-size: 20px;
            position: relative;
            top: 2px;
        }
    }
}

.summaryContainer {
    @extend .fadeIn;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    max-width: 800px;

    @media screen and (max-width: 520px) {
        text-align: left;
    }

    h2 {
        margin-bottom: 30px;
    }
}

.boldMe {
    font-weight: 900;
}

.formHeader {
    font-weight: 700;
    letter-spacing: 1px;
}

.returnButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.helpCta {
    padding-top: 8px;
}

.imgContainer {
    @extend .subtleShadow;
    padding: 20px 25px 50px 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    img {
        width: 100%;
        height: auto;
        max-width: 600px;
    }
}
