@import './common.module.scss';

h1, h2, h3, h4 {
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 900;
}

.header {
    color: rgb(54, 54, 54);
    margin-bottom: 0px;

    h2 {
        color: white;
    }
}

p, ul, li {
    @extend .fadeIn;
    line-height: 22px;
    color: rgb(54, 54, 54) ;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    line-height: 26px;
}

.underline {
    height: 4px;
    width: 60px;
    background-color: rgb(81, 177, 161);
    margin-top: -6px;
    border-radius: 10px;

    @media screen and (max-width: 520px) {
        margin-left: auto;
        margin-right: auto;
    }
}
