@import './../../styles/typography.module.scss';

.bannerContainer {
    height: 100vh;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 48%;

    @media screen and (max-width: 1400px) {
        background-size: 50%;
    }

    @media screen and (max-width: 999px) {
        background-size: 65%;
    }

    @media screen and (max-width: 750px) {
        background-size: 75%;
    }

    @media screen and (max-width: 550px) {
        background-size: 100%;
    }
}

.header {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;

    @media screen and (max-width: 520px) {
        padding: 20px;
    }

    h1 {
        margin-bottom: 30px;
    }
}

.headerTitle {
    padding-bottom: 23px;

    @media screen and (max-width: 520px) {
        text-align: center;
        h1 {
            font-size: 26px !important;
        }
    }

    @media screen and (max-width: 320px) {
        h1 {
            font-size: 20px !important;
            line-height: 23px !important;
        }
    }

    @media screen and (max-height: 667px) {
        margin-top: 20px;
        margin-bottom: -30px;
        .underline {
            display: none !important;
        }
        h1 {
            font-size: 20px !important;
            line-height: 22px !important;
        }
    }
}

.startCtaContainer {
    @media screen and (max-height: 667px) {
        display: none;
    }
}

.startCta {
    width: 85px;
    padding: 5px 0px;
    border-radius: 2px;
}

.downIcon {
    position: relative;
    top: 1px;
    color: rgb(212, 212, 212);
    font-size: 23px;
}

.headerContent {
    max-width: 700px;
    flex-direction: column;

    h1 {
        font-size: 30px;
        line-height: 32px;
    }

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

.introText {
    @media screen and (max-width: 520px) and (max-height: 740px) {
        border-radius: 3px;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
}

.aesthetic {
    letter-spacing: 6px;
    font-style: italic;
    font-weight: 100;
}

.debug {
    border: thin solid black;
    display: flex;
    flex-direction: row;
}
