.bannerContainer {
    height: 100vh;
    min-height: 600px;
}

.header {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;

    @media screen and (max-width: 520px) {
        padding: 20px;
    }

    h1 {
        margin-bottom: 24px;
    }
}

.startCta {
    width: 85px;
    padding: 5px 0px;
    border-radius: 2px;

    .text {
        font-size: 20px;
    }
}

.downIcon {
    position: relative;
    top: 0px;
    color: rgb(212, 212, 212);
    font-size: 18px;
}

.headerContent {
    max-width: 700px;
    flex-direction: column;
}

.aesthetic {
    letter-spacing: 6px;
    font-style: italic;
    font-weight: lighter;
}

.debug {
    border: thin solid black;
    display: flex;
    flex-direction: row;
}
